{% load static %}
<!DOCTYPE html>
<html lang="en">
  

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}" >
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Student Potal
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet'/>
  <link href="{% static 'css/now-ui-dashboard.css' %}" rel='stylesheet'/>
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'css/demo.css' %}" rel='stylesheet'/>
  <link href="{% static 'css/theme.css' %}" rel='stylesheet'/>
  
  <style>
    .container01 {
      margin-top: 2vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .box {
      text-align: center;
      width: 400px;
      height: 60vh;
      padding: 10px;
      border: 10px solid lightblue;
      box-sizing: border-box;
    }

    .box img {
      max-width: 100%;
      height: auto;
      border-radius: 0%;
    }
  </style>
  
</head>
<body>
<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          EP
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Education Portal
          
      </div>
     

      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="{% url 'dashboard' %}">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
         
          <li>
            <a href="{% url 'assigment_submisson' %}">
              <i class="now-ui-icons education_atom"></i>
              <p> assigment_submisson </p>
            </a>
          </li>
          <li>
            <a href="{% url 'recorded_session' %}">
              <i class="now-ui-icons location_map-big"></i>
              <p>recorded session</p>
            </a>
          </li>
          <li>
            <a href="{% url 'anonymous_message' %}">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Anonymous message</p>
            </a>
          </li>
          <li>
            <a href="{% url 'feedback' %}">
              <i class="now-ui-icons users_single-02"></i>
              <p>feedback</p>
            </a>
          </li>
          <li>
            <a href="{% url 'About' %}">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>About us </p>
            </a>
          </li>
          <li>
            <a href="{% url 'student_profile' %}">
              <i class="now-ui-icons text_caps-small"></i>
              <p>My profile</p>
            </a>
          </li>
          <li>
            <a href="{% url 'login' %}">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Student_login</p>
            </a>
          </li>
          <li>
            <a href="{% url 'teacher/login' %}">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Teacher_login</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}">
              <i class="now-ui-icons text_caps-small"></i>
              <p>logout</p>
            </a>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <!--
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons media-2_sound-wave"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>-->
      <!-- End Navbar -->
    
    <!--  <div class="panel-header panel-header-lg">-->
        <img src="{% static 'img/educationimage.jpg' %}" alt="Your Image Alt Text" style="height: 70vh; width: 1280px;margin-bottom: 0px;">
        <h2 style="color: rgb(30, 21, 21); margin-top: 2vh;"><i>"Empower Your Learning Journey with Our Diverse Course Offerings."</i></h2>

        <div class="container01">
        <div class="box">
          <img src="{% static 'img/webd.jpg' %}" alt="Your Image Alt Text" style="height: 30h; width:900px; padding: 0px;">
          <p>
            Web development refers to the process of creating and maintaining websites or web applications for the internet. It involves tasks such as designing, coding, testing, and deploying interactive and functional content accessible through web browsers.</p>
        </div>
      
        <div class="box">
          <img src="{% static 'img/appd.jpg' %}" alt="Your Image Alt Text" style="height: 50h; width:900px; padding: 0px;">
          <p>App development involves creating software applications for mobile devices or desktops, encompassing design, programming, testing, and deployment for a specific platform or operating system. </p>
        </div>
      
        <div class="box">
          <img src="{% static 'img/DSA01.jpg' %}" alt="Your Image Alt Text" style="height: 50h; width:900px; padding: 0px;">
          <br><br><br>
          <p>DSA (Data Structures and Algorithms) development focuses on designing and implementing efficient and organized methods for storing and manipulating data, enhancing the performance</p>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card  card-tasks">
              <div class="card-header ">
                <h5 class="card-category"></h5>
                <h4 class="card-title">Why should you choose our course?</h4>
              </div>
              <div class="card-body ">
                <div class="table-full-width table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check">
                            <!--
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked>
                              <span class="form-check-sign"></span>
                            </label>-->
                          </div>
                        </td>
                        <td class="text-left">Our courses cover a broad range of topics, providing a well-rounded education for diverse skill sets.</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                           
                          </button>
                          <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                           
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <!--
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                            </label>-->
                          </div>
                        </td>
                        <td class="text-left">Emphasis on practical exercises and real-world projects ensures an experiential understanding of the subject matter.</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                           
                          </button>
                          <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                            
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <!--
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked>
                              <span class="form-check-sign"></span>
                            </label>-->
                          </div>
                        </td>
                        <td class="text-left"> Regular updates keep our curriculum aligned with the latest industry trends, offering knowledge that's timely and applicable.
                        </td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                            
                          </button>
                          <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                           
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                
                <h4 class="card-title"> know about yours mentors</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Country
                      </th>
                      <th>
                        City
                      </th>
                      <th class="text-right">
                        subject
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Divyanshu
                        </td>
                        <td>
                          India
                        </td>
                        <td>
                          Agra
                        </td>
                        <td class="text-right">
                          Web Development
                        </td>
                      </tr>
                      <tr>
                        <td>
                         Naman Sharma
                        </td>
                        <td>
                          India
                        </td>
                        <td>
                          Mathura
                        </td>
                        <td class="text-right">
                          DSA
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Bhoomi Shakya
                        </td>
                        <td>
                          India
                        </td>
                        <td>
                          Agra
                        </td>
                        <td class="text-right">
                         App development
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <footer class="footer">
        <div class=" container-fluid ">
          <nav>
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="http://presentation.creative-tim.com">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
            </ul>
          </nav>-->
          <!--
          <div class="copyright" id="copyright">
            &copy; <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
        </div>-->
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <!-- ... other HTML content ... -->
<script src="{% static 'js/script.js'%}"></script>

  <script src="{% static 'js/query.min.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/perfect-scrollbar.jquery.min.js'%}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'js/chartjs.min.js'%}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'js/bootstrap-notify.js'%}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0'%}"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->

</body>
</html>
